src/Makefile
src/*.so
src/*.dll
src/*.dylib
src/**/*_m.h
src/**/*_m.cc
src/protobuf

/run
/out
/compile_commands.json
/.cache
/**/*.plist

examples/**/results
examples/**/.tkenvrc
examples/**/.qtenvrc
examples/**/.cmdenv-log
examples/**/valgrind.out
